<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.linux.myhalilsoroor" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menue"
            android:label="@string/title_activity_menue"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".pizaa"
            android:label="@string/title_activity_pizaa"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".hamberger"
            android:label="@string/title_activity_hamberger"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".sosis"
            android:label="@string/title_activity_sosis"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".dhamberger"
            android:label="@string/title_activity_dhamberger"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".h2"
            android:label="@string/title_activity_h2"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".s1"
            android:label="@string/title_activity_s1"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".s2"
            android:label="@string/title_activity_s2"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".p1"
            android:label="@string/title_activity_p1"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".p2"
            android:label="@string/title_activity_p2"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>
